{% extends "base.jinja" %} {% block content %} {% for game in games %}
<div class="game">
  <div class="game__content">
    <div class="game__title">
      <a href="/games/{{game.id}}">{{game.title}}</a>
    </div>
    <div class="game__genre">
      <p>{{game.genre}}</p>
    </div>
    <div class="game__age_rating">
      <p>{{game.age_rating}}</p>
    </div>
  </div>
  <hr />

  {% if game.user_id==None %}
  <i class="fa fa-check fa-2x" style="color: green" aria-hidden="true"></i>
  {% else %}
  <i class="fa fa-times fa-2x" aria-hidden="true"></i>
  {% endif %}
</div>
{% endfor %} {% endblock %}
