{% extends 'base.jinja' %}{% block content %}
    <h1>{{task.description}} ({{task.duration}})</h1>
    {% if task.completed == True %}
    <i class="fa fa-check fa-2x" style="color: green" aria-hidden="true"></i>
    {% else %}
    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
    {% endif %}
    <p>{{task.user.name}}</p>
    <a href="/tasks/{{task.id}}/edit">edit</a>
{%endblock%}